<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails + Stripe Subscriptions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
<div class="wrapper">
  
	<%= render 'nav' %>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
	   
  <%= yield %>
  
  
  <div class="footer">
    <h1 class="pageTitle">Dropdown navigation</h1>
    <p>A beautifull but simple dropdown navigation. Realized with only CSS, no Javascript needed. Great fallback for users who disabled Javascript.</p>
  </div>
  
</div>



</body>
</html>
